@import './variable';
.entrada{
    border-bottom: 1px solid $gris;
    margin-bottom: 2rem;
}
.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}
.boton{
    display: block;
    font-size: $h1_font;
    color: $while;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}
@media(min-width:768px){
    .boton{
        display: inline-block;
    }
}
.boton:hover{
    cursor: pointer;
}
.boton--primario{
    background-color: $black;
}