@import "./variable";

.boton--secundario{
    background-color:$primario;
}
.cursos{
    list-style: none;
}
.widget-curso{
    border-bottom: 1px solid $gris;
    margin-bottom: 2rem;
}
.widget-curso:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}
.widget-curso__label{
    font-family: $h1_font;
    font-weight: bold;
}
.widget-curso__info{
    font-weight: normal;
}
.widget-curso__info,
.widget-curso__label{
    font-size: 2rem;
}
