@import "./variable";


.curso{
    padding: 3rem 0;
    border-bottom: 1px solid $gris;
}
@media(min-width:768px){
    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}
.curso:last-of-type{
    border-bottom: none;
}
.curso__label{
    font-family: $h1_font;
    font-weight: bold;
}
.curso__info{
    font-weight: normal;
}
.curso__info,
.curso__label{
    font-size: 2rem;
}