@import "./variable";

//FLEXBOX
@media (min-width:768px){
    .sobre-nosotros{
        display: flex;
        justify-content: space-between;
    }
    .sobre-nosotros__imagen,
    .sobre-nosotros__texto{
        flex-basis: calc(50% - 1rem );
    }
    //GRID
    // .sobre-nosotros{
    //     display: grid;
    //     grid-template-columns: repeat(2,1fr);
    //     columns-gap: 2rem;
    // }
}