//fotn_family
$font_family:'PT Sans', sans-serif;
$font_family1:'Open Sans', sans-serif;

//font_familiy:h1, p,
$h1_font:'PT Sans', sans-serif;
$p_font:'Open Sans', sans-serif;

//Colores
$primario:#784D3C;
$while:#ffff;
$black:#000;
$gris:#e1e1e1;

//font_size
$font_sizeh1:4.8rem;
$font_sizeh2:4rem;
$font_sizeh3:3.2rem;
$font_sizeh4:2.8rem;
